<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["guest", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create guest
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "guest/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
		<select name="customergroupid" id="fieldCustomergroupid" class="form-control">
			<?php foreach ($customergroups as $customergroup) { echo "<option value='" . $customergroup->getID() . "'>$customergroup</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldFirstname" class="col-sm-2 control-label">Firstname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["firstname", "size" => 30, "class" => "form-control", "id" => "fieldFirstname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSurname" class="col-sm-2 control-label">Surname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["surname", "size" => 30, "class" => "form-control", "id" => "fieldSurname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDateofbirth" class="col-sm-2 control-label">Dateofbirth</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["dateofbirth", "type" => "date", "class" => "form-control", "id" => "fieldDateofbirth"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldGender" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["gender", "size" => 30, "class" => "form-control", "id" => "fieldGender"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMobileno" class="col-sm-2 control-label">Mobileno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["mobileno", "size" => 30, "class" => "form-control", "id" => "fieldMobileno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAddressno" class="col-sm-2 control-label">Addressno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["addressno", "type" => "number", "class" => "form-control", "id" => "fieldAddressno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStreetname" class="col-sm-2 control-label">Streetname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["streetname", "size" => 30, "class" => "form-control", "id" => "fieldStreetname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEircode" class="col-sm-2 control-label">Eircode</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["eircode", "size" => 30, "class" => "form-control", "id" => "fieldEircode"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["city", "size" => 30, "class" => "form-control", "id" => "fieldCity"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCounty" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["county", "size" => 30, "class" => "form-control", "id" => "fieldCounty"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["password", "size" => 30, "class" => "form-control", "id" => "fieldPassword"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUserid" class="col-sm-2 control-label">Userid</label>
    <div class="col-sm-10">
		<select name="userid" id="fieldUserid" class="form-control">
			<?php foreach ($users as $user) { echo "<option value='" . $user->getID() . "'>$user</option>"; }?>
		</select>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
