<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>


<div class="page-header" style="margin-top:80px;">
    <h1>
        Edit lodgingtype
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "lodgingtype/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldLodgingproviderid" class="col-sm-2 control-label">Lodgingproviderid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["lodgingproviderid", "type" => "number", "class" => "form-control", "id" => "fieldLodgingproviderid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldProduct" class="col-sm-2 control-label">Product</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["product", "size" => 30, "class" => "form-control", "id" => "fieldProduct"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLodgingpic" class="col-sm-2 control-label">Lodgingpic</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["lodgingpic", "size" => 30, "class" => "form-control", "id" => "fieldLodgingpic"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
