<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["lodginggroupbooking", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit lodginggroupbooking
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "lodginggroupbooking/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["standardpackageid", "type" => "number", "class" => "form-control", "id" => "fieldStandardpackageid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLodgingtypeid" class="col-sm-2 control-label">Lodgingtypeid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["lodgingtypeid", "type" => "number", "class" => "form-control", "id" => "fieldLodgingtypeid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTimeofcheckin" class="col-sm-2 control-label">Timeofcheckin</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["timeofcheckin", "size" => 30, "class" => "form-control", "id" => "fieldTimeofcheckin"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTimeofcheckout" class="col-sm-2 control-label">Timeofcheckout</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["timeofcheckout", "size" => 30, "class" => "form-control", "id" => "fieldTimeofcheckout"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofrooms" class="col-sm-2 control-label">Noofrooms</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["noofrooms", "type" => "number", "class" => "form-control", "id" => "fieldNoofrooms"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRoomtype" class="col-sm-2 control-label">Roomtype</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["roomtype", "size" => 30, "class" => "form-control", "id" => "fieldRoomtype"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofbeds" class="col-sm-2 control-label">Noofbeds</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["noofbeds", "type" => "number", "class" => "form-control", "id" => "fieldNoofbeds"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDeposit" class="col-sm-2 control-label">Deposit</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["deposit", "size" => 30, "class" => "form-control", "id" => "fieldDeposit"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldBalance" class="col-sm-2 control-label">Balance</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["balance", "size" => 30, "class" => "form-control", "id" => "fieldBalance"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDatecheckin" class="col-sm-2 control-label">Datecheckin</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["datecheckin", "type" => "date", "class" => "form-control", "id" => "fieldDatecheckin"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDatecheckout" class="col-sm-2 control-label">Datecheckout</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["datecheckout", "type" => "date", "class" => "form-control", "id" => "fieldDatecheckout"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
