<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["lodginggroupbooking/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["lodginggroupbooking/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Standardpackageid</th>
            <th>Lodgingtypeid</th>
            <th>Timeofcheckin</th>
            <th>Timeofcheckout</th>
            <th>Noofrooms</th>
            <th>Roomtype</th>
            <th>Noofbeds</th>
            <th>Cost</th>
            <th>Deposit</th>
            <th>Balance</th>
            <th>Datecheckin</th>
            <th>Datecheckout</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $lodginggroupbooking): ?>
            <tr>
                <td><?php echo $lodginggroupbooking->getId() ?></td>
            <td><?php echo $lodginggroupbooking->getStandardpackageid() ?></td>
            <td><?php echo $lodginggroupbooking->getLodgingtypeid() ?></td>
            <td><?php echo $lodginggroupbooking->getTimeofcheckin() ?></td>
            <td><?php echo $lodginggroupbooking->getTimeofcheckout() ?></td>
            <td><?php echo $lodginggroupbooking->getNoofrooms() ?></td>
            <td><?php echo $lodginggroupbooking->getRoomtype() ?></td>
            <td><?php echo $lodginggroupbooking->getNoofbeds() ?></td>
            <td><?php echo $lodginggroupbooking->getCost() ?></td>
            <td><?php echo $lodginggroupbooking->getDeposit() ?></td>
            <td><?php echo $lodginggroupbooking->getBalance() ?></td>
            <td><?php echo $lodginggroupbooking->getDatecheckin() ?></td>
            <td><?php echo $lodginggroupbooking->getDatecheckout() ?></td>

                <td><?php echo $this->tag->linkTo(["lodginggroupbooking/edit/" . $lodginggroupbooking->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["lodginggroupbooking/delete/" . $lodginggroupbooking->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("lodginggroupbooking/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("lodginggroupbooking/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("lodginggroupbooking/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("lodginggroupbooking/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
