<?php
$this->assets->outputCss();
$this->assets->outputJs();
$this->assets->outputCss("rating");
$this->assets->outputJs("rating");
?>
<?php echo $this->getContent(); ?>

<div class="page-header" style="margin-top:80px;">

    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["activitytype/displayGrid", "Go Back"]); ?></li>

        </ul>
    </nav>
</div>

<div class="page-header">


    <h1>Activity Ratings</h1>

</div>
<?php echo $this->getContent(); ?>
<div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($activityratings as $activityrating): ?>
            <tr>
                <td><?php echo $activityrating->getUser()->getFirstname(); ?></td>
                <td><input id="fieldRating" name="rating" value="<?php echo $activityrating->getRating()?>" type="text" class="rating rating-loading" data-min=0 data-max=5 data-step=1 data-size="sm" data-display-only="true"></td>
                <td><?php echo $activityrating->getComment() ?></td>
                <td><?php echo $activityrating->getCreatedat() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("a.activityLink").click(function(){
            var $this = $(this);
            var _href = $this.attr("href");
            var searchDate = $('#searchDate').val();
            $this.attr("href", _href + "/" + searchDate);
        });
    });
</script>