<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Search customergroup
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["customergroup/new", "Create customergroup"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "customergroup/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["standardpackageid", "type" => "number", "class" => "form-control", "id" => "fieldStandardpackageid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLeadguestname" class="col-sm-2 control-label">Leadguestname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["leadguestname", "size" => 30, "class" => "form-control", "id" => "fieldLeadguestname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNumberofguests" class="col-sm-2 control-label">NumberOfGuests</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["numberOfGuests", "type" => "number", "class" => "form-control", "id" => "fieldNumberofguests"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUserid" class="col-sm-2 control-label">Userid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["userid", "type" => "number", "class" => "form-control", "id" => "fieldUserid"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
