<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customergroup", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create customergroup
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "customergroup/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
		<select name="standardpackageid" id="fieldStandardpackageid" class="form-control">
			<?php foreach ($standardpackages as $standardpackage) { echo "<option value='" . $standardpackage->getID() . "'>$standardpackage</option>"; }?>
		</select>
    </div>
</div>

<div class="form-group">
    <label for="fieldLeadguestname" class="col-sm-2 control-label">Leadguestname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["leadguestname", "size" => 30, "class" => "form-control", "id" => "fieldLeadguestname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNumberofguests" class="col-sm-2 control-label">NumberOfGuests</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["numberOfGuests", "type" => "number", "class" => "form-control", "id" => "fieldNumberofguests"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
