<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customergroup/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["customergroup/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Standardpackageid</th>
            <th>Leadguestname</th>
            <th>NumberOfGuests</th>
            <th>Userid</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $customergroup): ?>
            <tr>
                <td><?php echo $customergroup->getId() ?></td>
            <td><?php echo $customergroup->getStandardpackageid() ?></td>
            <td><?php echo $customergroup->getLeadguestname() ?></td>
            <td><?php echo $customergroup->getNumberofguests() ?></td>
            <td><?php echo $customergroup->getUserid() ?></td>

                <td><?php echo $this->tag->linkTo(["customergroup/edit/" . $customergroup->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["customergroup/delete/" . $customergroup->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("customergroup/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("customergroup/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("customergroup/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("customergroup/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
