<html>
<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<head>
    <title>Special Request</title>
</head>
<style>
    body{
        background-image: url("img/special.jpg");
        background-repeat: no-repeat, repeat;
        background-size: 2000px 1000px;

    }
    div.page-header {
        position: static;
        margin: 70px 70px 40px 40px;
        border: 3px solid white;
    }

    h2{

        text-shadow: -1px 0 #4682B4, 0 1px #4682B4, 1px 0 #4682B4, 0 -1px #4682B4;

    }
</style>

<?php
echo $this->tag->form(
    [
        "specialrequest/create",
        "autocomplete" => "off",
        "class" => "form-horizontal"
    ]
);
?>
<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                Have A Special Request?
                            </h2>
                            <div class="about-btn">
                                <button  class="about-view">
                                    <a href="specialrequest/new" style="color:inherit"> Submit Request now </a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->
<!--packages start-->

<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">

            <h2>
                Special Request Gallery
            </h2>

        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/kayaking.jpg" alt="package-place" class="image">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Kayaking <span class="pull-right">from €50</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 2 hours
											</span>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Moderate
											</span>
                                </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>254 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/white-water-rafting.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Whitewater rafting <span class="pull-right">from €200</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 2 days 1 night
											</span>
                                <p>
                                    <i class="fa fa-angle-right"></i> Group
                                </p>
                                <p>
                                    <i class="fa fa-angle-right"></i> Level : Extreme
                                </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>344 reviews</span>
                                </p>
                            </div><!--/.packages-review-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/diving.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Diving <span class="pull-right">from €250</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Hours
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Group
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Hard
											</span>
                                </p>

                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>544 reviews</span>
                                </p>
                            </div><!--/.packages-review-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/snorkeling.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Snorkeling <span class="pull-right">from €79</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 2.5 hours
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Group/Individual
											</span>
                                </p>
                                <p>
                                    <i class="fa fa-angle-right"></i> Level : Easy
                                </p>
                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>625 reviews</span>
                                </p>
                            </div><!--/.packages-review-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/jetski.jpg" alt="package-place">

                        </div>
                        <div class="single-package-item-txt">
                            <h3>Jet skiing <span class="pull-right">from €120</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 1 Hour
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Easy
											</span>
                                </p>

                            </div><!--/.packages-para-->
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>379 reviews</span>
                                </p>
                            </div><!--/.packages-review-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/paddleboarding.jpg" alt="package-place"><div class="overlay">
                            </div>
                            <div class="single-package-item-txt">
                                <h3>Paddle boarding <span class="pull-right">from €30	</span></h3>
                                <div class="packages-para">
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 1 hr
											</span>
                                    </p>
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
                                    </p>
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Easy
											</span>
                                    </p>

                                </div><!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>447 reviews</span>
                                    </p>
                                </div><!--/.packages-review-->

                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.packages-content-->
        </div><!--/.container-->

</section><!--/.packages-->

</body>



</html>
