<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>


<div class="page-header" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["specialrequest/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["specialrequest/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Location</th>
            <th>Budget</th>
            <th>Preferabledate</th>
            <th>Comment</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $specialrequest): ?>
            <tr>
                <td><?php echo $specialrequest->getId() ?></td>
            <td><?php echo $specialrequest->getFullname() ?></td>
            <td><?php echo $specialrequest->getEmail() ?></td>
            <td><?php echo $specialrequest->getLocation() ?></td>
            <td><?php echo $specialrequest->getBudget() ?></td>
            <td><?php echo $specialrequest->getPreferabledate() ?></td>
            <td><?php echo $specialrequest->getComment() ?></td>

                <td><?php echo $this->tag->linkTo(["specialrequest/edit/" . $specialrequest->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["specialrequest/delete/" . $specialrequest->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("specialrequest/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("specialrequest/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("specialrequest/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("specialrequest/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
