<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<body>

<div class="page-header" style="margin-top:80px;">
    <?php echo $this->getContent(); ?>

    <div class="jumbotron">

        <h2>Your Request has been received!</h2>
        <br>
        <p>One of the administrators will keep in touch with you via email soon. Thank you !</p>
        <div class="about-btn">
            <button  class="about-view">
                <?php echo $this->tag->linkTo(["index", "Home Page"]) ?>
            </button>
        </div>

    </div>
</div>

</body>