<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Search scheduledactivity
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["scheduledactivity/new", "Create scheduledactivity"]) ?>
    </p>
</div>

<div class ="container">
<?php echo $this->getContent() ?>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--
<?php
    echo $this->tag->form(
        [
            "scheduledactivity/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>


    <?php /*echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) */?>
    </div>
</div>-->

<!--<div class="form-group">
    <label for="fieldScheduleactivityid" class="col-sm-2 control-label">Scheduleactivityid</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["scheduleactivityid", "type" => "number", "class" => "form-control", "id" => "fieldScheduleactivityid"]) */?>
    </div>
</div>-->

<!--<div class="form-group">
    <label for="fieldActivitytypeid" class="col-sm-2 control-label">Activitytypeid</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["activitytypeid", "type" => "number", "class" => "form-control", "id" => "fieldActivitytypeid"]) */?>
    </div>
</div>-->

<div class="form-group">
    <label for="fieldStartdate" class="col-sm-2 control-label">Start date</label>
    <div class="col-sm-10">

        

        <?php echo $this->tag->dateField(["startdate", "type" => "date", "class" => "form-control", "id" => "fieldStartdate"]) ?>

    </div>
</div>

<div class="form-group">
    <label for="fieldEnddate" class="col-sm-2 control-label">End date</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["enddate", "type" => "datepicker", "class" => "form-control", "id" => "fieldEnddate"]) ?>
    </div>
</div>

<!--<div class="form-group">
    <label for="fieldStartpoint" class="col-sm-2 control-label">Startpoint</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["startpoint", "size" => 30, "class" => "form-control", "id" => "fieldStartpoint"]) */?>
    </div>
</div>
-->
<!--<div class="form-group">
    <label for="fieldEndpoint" class="col-sm-2 control-label">Endpoint</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["endpoint", "size" => 30, "class" => "form-control", "id" => "fieldEndpoint"]) */?>
    </div>
</div>
-->
<!--<div class="form-group">
    <label for="fieldStarttime" class="col-sm-2 control-label">Starttime</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["starttime", "size" => 30, "class" => "form-control", "id" => "fieldStarttime"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEndtime" class="col-sm-2 control-label">Endtime</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["endtime", "size" => 30, "class" => "form-control", "id" => "fieldEndtime"]) */?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofparticipants" class="col-sm-2 control-label">Noofparticipants</label>
    <div class="col-sm-10">
        <?php /*echo $this->tag->textField(["noofparticipants", "type" => "number", "class" => "form-control", "id" => "fieldNoofparticipants"]) */?>
    </div>
</div>-->


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
