<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Create scheduledactivity
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "scheduledactivity/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>


<div class="form-group">
    <label for="fieldActivityprovider" class="col-sm-2 control-label">Actiivity Provider Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["activityproviderid", "size" => 30, "class" => "form-control", "id" => "fieldActivityproviderid"]) ?>
    </div>
</div>


<div class="form-group">
    <label for="fieldActivitytypeid" class="col-sm-2 control-label">Activity Type Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["activitytypeid", "size" => 30, "class" => "form-control", "id" => "fieldActivitytypeid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStartdate" class="col-sm-2 control-label">From</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["startdate", "type" => "datepicker", "class" => "form-control", "id" => "fieldStartdate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEnddate" class="col-sm-2 control-label">To</label>
    <div class="col-sm-10">
        <?php echo $this->tag->dateField(["enddate", "type" => "datepicker", "class" => "form-control", "id" => "fieldEnddate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStartpoint" class="col-sm-2 control-label">Starting Point</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["startpoint", "size" => 30, "class" => "form-control", "id" => "fieldStartpoint"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEndpoint" class="col-sm-2 control-label">Ending Point</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["endpoint", "size" => 30, "class" => "form-control", "id" => "fieldEndpoint"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStarttime" class="col-sm-2 control-label">Start Time</label>
    <div class="col-sm-10">
        <?php echo $this->tag->timeField(["starttime", "size" => 30, "class" => "form-control", "id" => "fieldStarttime"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEndtime" class="col-sm-2 control-label">End time</label>
    <div class="col-sm-10">
        <?php echo $this->tag->timeField(["endtime", "size" => 30, "class" => "form-control", "id" => "fieldEndtime"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNoofparticipants" class="col-sm-2 control-label">Noofparticipants</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["noofparticipants", "type" => "number", "class" => "form-control", "id" => "fieldNoofparticipants"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
