<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Activityproviderid</th>
            <th>Activitytypeid</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Startpoint</th>
            <th>Endpoint</th>
            <th>Starttime</th>
            <th>Endtime</th>
            <th>Noofparticipants</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $scheduledactivity): ?>
            <tr>
                <td><?php echo $scheduledactivity->getId() ?></td>
            <td><?php echo $scheduledactivity->getActivityproviderid() ?></td>
            <td><?php echo $scheduledactivity->getActivitytypeid() ?></td>
            <td><?php echo $scheduledactivity->getStartdate() ?></td>
            <td><?php echo $scheduledactivity->getEnddate() ?></td>
            <td><?php echo $scheduledactivity->getStartpoint() ?></td>
            <td><?php echo $scheduledactivity->getEndpoint() ?></td>
            <td><?php echo $scheduledactivity->getStarttime() ?></td>
            <td><?php echo $scheduledactivity->getEndtime() ?></td>
            <td><?php echo $scheduledactivity->getNoofparticipants() ?></td>

                <td><?php echo $this->tag->linkTo(["scheduledactivity/edit/" . $scheduledactivity->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["scheduledactivity/delete/" . $scheduledactivity->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("scheduledactivity/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("scheduledactivity/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("scheduledactivity/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("scheduledactivity/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
