<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Search custombooking
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["custombooking/new", "Create custombooking"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "custombooking/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLodgingproviderid" class="col-sm-2 control-label">Lodgingproviderid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["lodgingproviderid", "type" => "number", "class" => "form-control", "id" => "fieldLodgingproviderid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["customergroupid", "type" => "number", "class" => "form-control", "id" => "fieldCustomergroupid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPaymenttype" class="col-sm-2 control-label">Paymenttype</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["paymenttype", "size" => 30, "class" => "form-control", "id" => "fieldPaymenttype"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDeposit" class="col-sm-2 control-label">Deposit</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["deposit", "size" => 30, "class" => "form-control", "id" => "fieldDeposit"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldBalance" class="col-sm-2 control-label">Balance</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["balance", "size" => 30, "class" => "form-control", "id" => "fieldBalance"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
