<?php use Phalcon\Tag; ?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();

?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Lodgingproviderid</th>
            <th>Customergroupid</th>
            <th>Cost</th>
            <th>Paymenttype</th>
            <th>Deposit</th>
            <th>Balance</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $custombooking): ?>
            <tr>
                <td><?php echo $custombooking->getId() ?></td>
            <td><?php echo $custombooking->getLodgingproviderid() ?></td>
            <td><?php echo $custombooking->getCustomergroupid() ?></td>
            <td><?php echo $custombooking->getCost() ?></td>
            <td><?php echo $custombooking->getPaymenttype() ?></td>
            <td><?php echo $custombooking->getDeposit() ?></td>
            <td><?php echo $custombooking->getBalance() ?></td>

                <td><?php echo $this->tag->linkTo(["custombooking/edit/" . $custombooking->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["custombooking/delete/" . $custombooking->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("custombooking/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("custombooking/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("custombooking/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("custombooking/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
