<?php
$this->assets->outputCss();
$this->assets->outputJs();
;?>
<!doctype html>

<head>
    <title>Activity Providers</title>
</head>
<style>
    body{

        background-image: url("img/customise.jpg");
        background-repeat: no-repeat, repeat;
    }
    div.page-header {
        position: static;
        margin: 70px 70px 40px 40px;
        border: 3px solid white;
    }

    h2{
        text-shadow: -1px 0 #4682B4, 0 1px #4682B4, 1px 0 #4682B4, 0 -1px #4682B4;
    }
</style>


<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                Specially Designed Package
                            </h2>
                            <div class="about-btn">
                                <button  class="about-view">
                                    <?php echo $this->tag->linkTo("standardpackage/displayGrid", "Explore Now"); ?>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">

            <h2>
                Standard Package Gallery
            </h2>

        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/hotels.jpg" alt="package-place" class="image">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Accommodation </h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Star Rating
											</span>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Breakfast
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Amazing View
											</span>
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/white-water-rafting.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Whitewater rafting</h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 2 days 1 night
											</span>
                                <p>
                                    <i class="fa fa-angle-right"></i> Group
                                </p>
                                <p>
                                    <i class="fa fa-angle-right"></i> Level : Extreme
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/taxi.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Taxi</h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Private Hire
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Discounted Rate
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Hotel Transfer
											</span>
                                </p>

                            </div><!--/.packages-para-->
                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/lodge.jpg" alt="package-place">
                        </div>
                        <div class="single-package-item-txt">
                            <h3>Wood Lodges </h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Unique Experience
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Group/Individual
											</span>
                                </p>
                                <p>
                                    <i class="fa fa-angle-right"></i> Breakfast
                                </p>
                            </div><!--/.packages-para-->


                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/private.jpg" alt="package-place">

                        </div>
                        <div class="single-package-item-txt">
                            <h3>Private Transfer </h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> Friendly Local Driver
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Comfortable
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  Saloon, 6 seaters
											</span>
                                </p>

                            </div><!--/.packages-para-->


                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <div class="container1">
                            <img src="img/packages/paddleboarding.jpg" alt="package-place"><div class="overlay">
                            </div>
                            <div class="single-package-item-txt">
                                <h3>Paddle boarding </h3>
                                <div class="packages-para">
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 1 hr
											</span>
                                    </p>
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
                                    </p>
                                    <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Easy
											</span>
                                    </p>

                                </div><!--/.packages-para-->


                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.packages-content-->
        </div><!--/.container-->

</section><!--/.packages-->


</body>
</html>