<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
$this->assets->outputCss("rating");
$this->assets->outputJs("rating");
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["standardpackage/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Edit Standard Package</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Name</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Location</th>
            <th>Cost</th>
            <th>Standardpackagepic</th>
            <th>Average Rating</th>
            <th>Star Rating</th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $standardpackage): ?>
            <tr>
                <td><?php echo $standardpackage->getId() ?></td>
            <td><?php echo $standardpackage->getName() ?></td>
            <td><?php echo $standardpackage->getStartdate() ?></td>
            <td><?php echo $standardpackage->getEnddate() ?></td>
            <td><?php echo $standardpackage->getLocation() ?></td>
            <td><?php echo $standardpackage->getCost() ?></td>
            <td><img class="img-responsive center-block" height="200" width="100" src="data:image/jpeg;base64,<?php echo $standardpackage->getPackagePic() ?>"></td>
            <td>
                <?php $avgRating =  $standardpackage->getAverageRating();?>
                <?php echo $this->tag->linkTo(["standardRating/showRatings/" . $standardpackage->getId(), "$avgRating"]);?>
            </td>
            <td>
                <input id="fieldRating" name="rating"
                       value="<?php echo $standardpackage->getAverageRating()?>"
                       type="text" class="rating rating-loading" data-min=0
                       data-max=5 data-step=1 data-size="sm" data-display-only="true">
            </td>

                <td><?php echo $this->tag->linkTo(["standardpackage/edit/" . $standardpackage->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["standardratinge/new/" . $standardpackage->getId(), "Rate"]); ?></td>
                <td><?php echo $this->tag->linkTo(["standardpackage/delete/" . $standardpackage->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("standardpackage/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackage/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackage/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("standardpackage/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
