<!doctype html>
<html class="no-js"  lang="en">
<?php $this->assets->outputCss(); ?>
<?php $this->assets->outputJs(); ?>

<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <title>Unique Occasions</title>
<style>
        body{
            background-image: url("img/home/banner2.jpg");
            background-repeat: no-repeat, repeat;
        }
        div.page-header {
            position: static;
            margin: 70px 70px 40px 40px;
            border: 3px solid white;
        }

        h2{

            text-shadow: -1px 0 #4682B4, 0 1px #4682B4, 1px 0 #4682B4, 0 -1px #4682B4;

        }
		 /* Always set the map height explicitly to define the size of the div
		* element that contains the map. */
		#map {
        height: 0%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
	  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<!--about-us start -->
<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                Adventure awaits go find it

                            </h2>
                            <div class="about-btn">
                                <button type = "button" class="about-view">
                                    <a href="standardpackage/displaygrid" style="color:inherit"> Explore Now</a>
                                </button>
                            </div><!--/.about-btn-->
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->

<!--travel-box start-->

<!--travel-box end-->

<!--service start-->
<section id="service" class="service">
    <div class="container">

        <div class="service-counter text-center">

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="img/service/s1.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                Choose amazing tour packages
                            </a>
                        </h2>
                        <p>Must use our tour Planner for breathtaking tour packages!</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="img/service/s2.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                book top class hotels
                            </a>
                        </h2>
                        <p>This amazing site helps you book the best hotels all around the world!</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="statistics-img">
                        <img src="img/service/s3.png" alt="service-icon" />
                    </div><!--/.service-img-->
                    <div class="service-content">

                        <h2>
                            <a href="#">
                                Book Transport
                            </a>
                        </h2>
                        <p>Book your Transport instantly using Unique Occasions</p>
                    </div><!--/.service-content-->
                </div><!--/.single-service-box-->
            </div><!--/.col-->

        </div><!--/.statistics-counter-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->

<!--galley start-->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    Our Activities
                </h2>
                <p>
                    What do you want to do?, How much do you want to explore?
                </p>
            </div><!--/.gallery-header-->
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/surfing3.jpg" alt="portfolio img"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Surfing
                                        </a>
                                        <p><span>Donegal</span></p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->
							<div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/horse1.jpg" alt="portfolio img"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Horse Riding
                                        </a>
                                        <p><span>Meath</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/archery2.jpg" alt="Archery" width="150" height="150"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Archery
                                        </a>
                                        <p><span>Wicklow</span></p>
                                    </div><!-- /.item-title -->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/zip lining.jpg" alt="portfolio img"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Zip Lining
                                        </a>
                                        <p><span>Cork</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/kayaking.jpg" alt="portfolio img"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Kayaking
                                        </a>
                                        <p><span>Galway</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->

                            <div class="col-sm-4">
                                <div class="filtr-item">
                                    <img src="img/mountain1.jpg" alt="portfolio img"/>
                                    <div class="item-title">
                                        <a href="#">
                                            Mountain Biking
                                        </a>
                                        <p><span>Wicklow</span></p>
                                    </div> <!-- /.item-title-->
                                </div><!-- /.filtr-item -->
                            </div><!-- /.col -->
                            </div><!-- /.col -->

                        </div><!-- /.row -->

                    </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->
            </div><!--/.galley-box-->
        </div><!--/.gallery-details-->
    </div><!--/.container-->

</section><!--/.gallery-->
<!--gallery end-->


    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
  
  <body>
  <div class="container">
        <div class="gallary-header text-center">
            <h2>
                Location of our Activities
            </h2>
            <p>
                Will be expanding to Europe soon!
            </p>
        </div><!--/.gallery-header-->
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 52.658824, lng: -8.012554}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 53.352324, lng: -6.268440},
        {lat: 54.021201, lng: -6.073942}, 
        {lat: 53.649565, lng: -9.359423},
        {lat: 53.887144, lng: -9.545767},        
        {lat: 51.705981, lng: -8.521768}, 
        {lat: 51.699001, lng: -8.536193}, 
        {lat: 52.140851, lng: -10.264019}, 
        {lat: 52.255036, lng: -9.735312}, 
        {lat: 52.570963, lng: -9.861582},
 
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQcvq7Q_n1fgrm-11-cWxlru8nj-Si8oE&callback=initMap">
    </script>
  </body>
</html>

<!--discount-offer start-->

<!--packages start-->
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                special packages
            </h2>
            <p>
                Choose from a list of our Special Packages
            </p>
        </div><!--/.gallery-header-->
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p1.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>Italy <span class="pull-right">€499</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 3 Days 2 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i> food facilities
                                </p>
                            </div><!--/.packages-para-->


                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p2.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>england <span class="pull-right">€1499</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 6 Days 7 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  Free food
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p3.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>france <span class="pull-right">€1199</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Days 6 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p4.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>india <span class="pull-right">€799</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Days 5 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p5.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>spain <span class="pull-right">€999</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Days 4 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

                <div class="col-md-4 col-sm-6">
                    <div class="single-package-item">
                        <img src="img/packages/p6.jpg" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>thailand <span class="pull-right">€799</span></h3>
                            <div class="packages-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Days 6 nights
											</span>
                                    <i class="fa fa-angle-right"></i>  5 star accomodation
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <i class="fa fa-angle-right"></i>  food facilities
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-package-item-txt-->
                    </div><!--/.single-package-item-->

                </div><!--/.col-->

            </div><!--/.row-->
        </div><!--/.packages-content-->
    </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->

<!-- testemonial Start -->
<section   class="testemonial">
    <div class="container">

        <div class="gallary-header text-center">
            <h2>
                clients reviews
            </h2>
            <p>
                Please read our clients reviews!
            </p>

        </div><!--/.gallery-header-->

        <div class="owl-carousel owl-theme" id="testemonial-carousel">

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/quad.jpeg" alt="img" width="100" height="80"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            I have booked my Christmas holiday with Unique Occasion, the service was spot on! Going to book my Nigeria trip again with this website! Definitely going to promote this to my friends and family. *Wakanda Forever*
                        </p>
                        <h3>
                            <a href="https://www.instagram.com/illest_hustler_97/">
                                Prince Quadri Okunola
                            </a>
                        </h3>
                        <h4>liverpool, england</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/lok.png" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            As a co founder of Unique Occasion, I am thrilled that we can provide the best experience to all the adventure tourists from all over the world for example <b>Prince Quadri himself</b>.  We aimed to add in  more features like group booking, marriage reception and many more! Fund us now!!
                        </p>
                        <h3>
                            <a href="#">
                                Lok Tung Than
                            </a>
                        </h3>
                        <h4>Kuala Lumpur, Malaysia</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/natalia.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            Hi, I am Natalia and I am one of the co founder of this system.  I am happy that we can provide customers the possiblity to book the best adventure of their life. During the next few months we will be bringing in more features to ehance even more the customer experience.                       </p>
                        </p>
						<h3>
                            <a href="#">
                                Natalia Jablecka
                            </a>
                        </h3>
                        <h4>Warsaw, Poland</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/noell.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            We hope you enjoy the system as much as we do!
                        </p>
                        <h3>
                            <a href="#">
                                Noel Proudfoot
                            </a>
                        </h3>
                        <h4>Dublin, Ireland</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/client/testimonial2.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                            I really recommend that website, I found weverything I was looking for!!! :)
                        </p>
                        <h3>
                            <a href="#">
                                Emma Watson
                            </a>
                        </h3>
                        <h4>london, england</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/client/testimonial1.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        <p>
                           I booked activity package on Unique Occassions and that was the most thrilling activity I have ever done. Definitely I will recommend that site to everybody!! Love it !
                        </p>
                        <h3>
                            <a href="#">
                                Kevin Bloggs
                            </a>
                        </h3>
                        <h4>london, england</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/client/testimonial1.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/client/testimonial2.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                        
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

            <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                    <div class="home1-testm-img">
                        <img src="img/client/testimonial1.jpg" alt="img"/>
                    </div><!--/.home1-testm-img-->
                    <div class="home1-testm-txt">
								<span class="icon section-icon">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</span>
                       
                        
                        <h4>london, england</h4>
                    </div><!--/.home1-testm-txt-->
                </div><!--/.home1-testm-single-->

            </div><!--/.item-->

        </div><!--/.testemonial-carousel-->
    </div><!--/.container-->

</section><!--/.testimonial-->
<!-- testemonial End -->


<!--special-offer start-->
<section id="spo" class="special-offer">
    <div class="container">
        <div class="special-offer-content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="single-special-offer">
                        <div class="single-special-offer-txt">
                            <h2>Dublin</h2>
                            <div class="packages-review special-offer-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>2544 review</span>
                                </p>
                            </div><!--/.packages-review-->
                            <div class="packages-para special-offer-para">
                                <p>
											<span>
												<i class="fa fa-angle-right"></i> 5 Days 6 nights
											</span>
                                    <span>
												<i class="fa fa-angle-right"></i> 2 person
											</span>
                                    <span>
												<i class="fa fa-angle-right"></i>  5 star accomodation
											</span>
                                </p>
                                <p>
											<span>
												<i class="fa fa-angle-right"></i>  transportation
											</span>
                                    <span>
												<i class="fa fa-angle-right"></i>  food facilities
											</span>
                                </p>
                                <p class="offer-para">
                                    Dublin is Great <br> Come to the Guiness factory
                                </p>
                            </div><!--/.packages-para-->

                        </div><!--/.single-special-offer-txt-->
                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
                <div class="col-sm-4">
                    <div class="single-special-offer">
                        <div class="single-special-offer-bg">
                            <img src="img/offer/offer-shape.png" alt="offer-shape">
                        </div><!--/.single-special-offer-bg-->
                        <div class="single-special-shape-txt">
                            <h3>special offer</h3>
                            <h4><span>40%</span><br>off</h4>
                            <p><span>€999</span><br>regular Price €1450</p>
                        </div><!--/.single-special-shape-txt-->
                    </div><!--/.single-special-offer-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.special-offer-content-->
    </div><!--/.container-->

</section><!--/.special-offer end-->
<!--special-offer end-->

<!--blog start-->
<section id="blog" class="blog">
    <div class="container">
        <div class="blog-details">
            <div class="gallary-header text-center">
                <h2>
                    latest news
                </h2>
                <p>
                    Travel News from all over the world
                </p>
            </div><!--/.gallery-header-->
            <div class="blog-content">
                <div class="row">

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 november 2018</span></h2>
                            <div class="thumbnail-img">
                                <img src="img/blog/b1.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->

                            <div class="caption">
                                <div class="blog-txt">
                                    <h3>
                                        <a href="#">
                                            Discover on beautiful weather, Fantastic foods and historical place in Prag
                                        </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                    </p>
                                    <a href="#">Read More</a>
                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 February 2019</span></h2>
                            <div class="thumbnail-img">
                                <img src="img/blog/b2.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->
                            <div class="caption">
                                <div class="blog-txt">
                                    <h3>
                                        <a href="#">
                                            Discover on beautiful weather, Fantastic foods and historical places in india
                                        </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                    </p>
                                    <a href="#">Read More</a>
                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 March 2019</span></h2>
                            <div class="thumbnail-img">
                                <img src="img/blog/b3.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->
                            <div class="caption">
                                <div class="blog-txt">
                                    <h3><a href="#">10 Most Natural place to Discover</a></h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                    </p>
                                    <a href="#">Read More</a>
                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.blog-content-->
        </div><!--/.blog-details-->
    </div><!--/.container-->

</section><!--/.blog-->
<!--blog end-->


<!--subscribe start-->
<?php
    echo $this->tag->form(
        [
            "subscribe/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<section id="subs" class="subscribe">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                Join our Subscribers List to Get Regular Updates
            </h2>
            <p>
                Subscribe Now. We will send you Best offer for your Trip
            </p>
        </div>
        <form>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<label for="fieldEmail" class="col-sm-2 control-label">Email</label>
                    <div class="custom-input-group">
					<?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
                        <button class="appsLand-btn subscribe-btn">Subscribe</button>
                        <div class="clearfix"></div>
                        
                    </div>
				</div>
			</div>
		</form>
    </div>

<?php echo $this->tag->endForm(); ?>

</section>
</body>
</html>