<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>
<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["dbaccesscontrollist", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">    <h1>
        Edit dbaccesscontrollist
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "dbaccesscontrollist/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldRole" class="col-sm-2 control-label">Role</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["role", "size" => 30, "class" => "form-control", "id" => "fieldRole"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAction" class="col-sm-2 control-label">Action</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["action", "size" => 30, "class" => "form-control", "id" => "fieldAction"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldResource" class="col-sm-2 control-label">Resource</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["resource", "size" => 30, "class" => "form-control", "id" => "fieldResource"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
