<?php
$this->assets->outputCss();
$this->assets->outputJs();
$this->assets->outputCss("rating");
$this->assets->outputJs("rating");
?>

<div class="page-header" style="margin-top:80px;">

    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["standardpackage/displayGrid", "Go Back"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">


    <h1>Standard Package Ratings</h1>

</div>
<?php echo $this->getContent(); ?>
<div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($standardratings as $standardrating): ?>
            <tr>
                <td><?php echo $standardrating->getUser()->getFirstname(); ?></td>
                <td><input id="fieldRating" name="rating" value="<?php echo $standardrating->getRating()?>" type="text" class="rating rating-loading" data-min=0 data-max=5 data-step=1 data-size="sm" data-display-only="true"></td>
                <td><?php echo $standardrating->getComment() ?></td>
                <td><?php echo $standardrating->getCreatedat() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>