<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["payment/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["payment/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Paymentdate</th>
            <th>Amount</th>
            <th>Userid</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $payment): ?>
            <tr>
                <td><?php echo $payment->getId() ?></td>
            <td><?php echo $payment->getPaymentdate() ?></td>
            <td><?php echo $payment->getAmount() ?></td>
            <td><?php echo $payment->getUserid() ?></td>

                <td><?php echo $this->tag->linkTo(["payment/edit/" . $payment->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["payment/delete/" . $payment->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("payment/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("payment/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("payment/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("payment/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
