<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<body>

<div class="page-header" style="margin-top:80px;">
    <?php echo $this->getContent(); ?>

    <div class="jumbotron">

        <h2>We have received your Payment, Thank you!</h2>
        <br>
        <p>Congratulations you are one step closer to your dream occasion !</p>
        <div class="about-btn">
            <button  class="about-view">
                <?php echo $this->tag->linkTo(["index", "Home Page", "Check Your booking here!"]) ?>
            </button>
        </div>

    </div>
</div>

</body>