<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>
<?php use Phalcon\Tag; ?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
$this->assets->outputCss("rating");
$this->assets->outputJs("rating");
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["journey/search", "Go Back"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create journey
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "journey/create",
            "autocomplete" => "off",
            "class" => "form-horizontal",
			"enctype" => "multipart/form-data"
        ]
    );
?>

<div class="form-group">
    <label for="fieldAdministratorid" class="col-sm-2 control-label">Administratorid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["administratorid", "type" => "number", "class" => "form-control", "id" => "fieldAdministratorid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTransportproviderid" class="col-sm-2 control-label">Transportproviderid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["transportproviderid", "type" => "number", "class" => "form-control", "id" => "fieldTransportproviderid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStartpoint" class="col-sm-2 control-label">Startpoint</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["startpoint", "size" => 30, "class" => "form-control", "id" => "fieldStartpoint"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDestination" class="col-sm-2 control-label">Destination</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["destination", "size" => 30, "class" => "form-control", "id" => "fieldDestination"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTotalkilometres" class="col-sm-2 control-label">Totalkilometres</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["totalkilometres", "type" => "number", "class" => "form-control", "id" => "fieldTotalkilometres"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["cost", "size" => 30, "class" => "form-control", "id" => "fieldCost"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldImageFile" class="col-sm-2 control-label">Upload your Image</label>
    <div class="col-sm-10">
        <?php echo $this->tag->fileField(["imageFile", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
