<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
$this->assets->outputCss("rating");
$this->assets->outputJs("rating");
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["journey/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Transport</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Administratorid</th>
            <th>Transportproviderid</th>
            <th>Startpoint</th>
            <th>Destination</th>
            <th>Totalkilometres</th>
            <th>Cost</th>
            <th>Journeypic</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $journey): ?>
            <tr>
                <td><?php echo $journey->getId() ?></td>
            <td><?php echo $journey->getAdministratorid() ?></td>
            <td><?php echo $journey->getTransportproviderid() ?></td>
            <td><?php echo $journey->getStartpoint() ?></td>
            <td><?php echo $journey->getDestination() ?></td>
            <td><?php echo $journey->getTotalkilometres() ?></td>
            <td><?php echo $journey->getCost() ?></td>
                <td><img class="img-responsive center-block"
                         height="200" width="100"
                         src="data:image/jpeg;base64,<?php echo $journey->getjourneypic() ?>">
                </td>
                <td><?php echo $this->tag->linkTo(["journey/edit/" . $journey->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["journey/delete/" . $journey->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("journey/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("journey/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("journey/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("journey/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
