<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>
<style>
    .form-control{
        width:25%;
    }
</style>

<a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="Dublin" data-label_2="WEATHER" style="margin-top:80px;">Dublin Weather</a>
<div class="single-tab-select-box page-header"  align="center">
    <h2> Please Enter Date</h2>
    <input type="date" id="searchDate" name="searchDate" class="form-control"  placeholder="22 -01 - 2019 ">
</div>
<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<?php $j=0;//set a counter for the number of columns in the grid col-sm-3 means 4 columns wide?>
<?php foreach($activitytypes as $activitytype): ?>
	<?php if ($j==0) echo "<div class='row'>"; //if the counter is zero start a new row?>
	   <div class="col-sm-3" >
		  <div class="panel panel-primary" style="border-color:transparent;">  
			<div class="panel-heading"style="background-color:white;color:black;text-align:center;"><?php echo $activitytype->getProduct() ." </br> " . $activitytype->getActivitylevel() ." </br>€ ".$activitytype->getCost();?></div>
			
			<div class="panel-body"></td><img style="width:1000%;height:170px;" class="img-responsive center-block" 
			
			src="data:image/jpeg;base64,<?php echo $activitytype->getActivitypic() ?>"></div>
			
			<div class="panel-footer" style="background-color:white;">
				<?php echo $activitytype->getDescription() ?>
		
		
				<button id="addItem" type="button" class="btn btn-default center-block addItem" style="margin-top:20px;"> <?php echo $this->tag->linkTo(["scheduledactivity/displayCalendar/".$activitytype->getId(),"class"=>"activityLink", "Choose date"]);?></button>
				<button class="btn btn-default center-block addItem" style="margin-top:20px;"> <?php echo $this->tag->linkTo(["activityrating/ShowRatings/".$activitytype->getId(),"class"=>"activityLink", "View Ratings"]);?></button>
			</div>
		   </div>
		</div>
	<?php $j++; if ($j==4) { echo "</div>"; $j=0;} //if we have 4 cols then close the div for the row and reset the counter?>
<?php endforeach; ?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
 $(document).ready(function(){
    $("a.activityLink").click(function(){
 var $this = $(this);     
 var _href = $this.attr("href");
 var searchDate = $('#searchDate').val();
 $this.attr("href", _href + "/" + searchDate);
    });
 });
</script>
