<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["activitytype/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["activitytype/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Product</th>
            <th>Activitylevel</th>
            <th>Activitybase</th>
            <th>Cost</th>
            <th>Insurance</th>
            <th>Description</th>
            <th>Activitypic</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $activitytype): ?>
            <tr>
                <td><?php echo $activitytype->getId() ?></td>
            <td><?php echo $activitytype->getProduct() ?></td>
            <td><?php echo $activitytype->getActivitylevel() ?></td>
            <td><?php echo $activitytype->getActivitybase() ?></td>
            <td><?php echo $activitytype->getCost() ?></td>
            <td><?php echo $activitytype->getInsurance() ?></td>
            <td><?php echo $activitytype->getDescription() ?></td>
            <td><img class="img-responsive center-block" height="200" width="100" src="data:image/jpeg;base64,<?php echo $activitytype->getActivitypic() ?>"></td>
            

                <td><?php echo $this->tag->linkTo(["activitytype/edit/" . $activitytype->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["activitytype/delete/" . $activitytype->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("activitytype/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("activitytype/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("activitytype/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("activitytype/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
