<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Send Email</h1>
</div>


<html lang="en">
  <head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
  </head>
  
  <body>
  
  <?php echo $this->getContent(); ?>
  

<?php
    echo $this->tag->form(
        [
            "administrator/test",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>
<textarea id ="summernote" name = "message">
	  <?php foreach ($page->items as $administrator): ?>

	  <?php endforeach; ?>
</textarea>
    <div id="summernote"></div>
    <script>
      $('#summernote').summernote({
        placeholder: 'Email from Unique Occasions Book your occasions today',
        tabsize: 2,
        height: 100
      });
    </script>
  </body>	
                        
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10" style="margin-left:10px;margin-top:10px;">
		<?php echo $this->tag->submitButton(["Send ", "class" => "btn btn-default"]) ?>
	</div>
</div>

<?php echo $this->tag->endForm(); ?>   
	
</html>