<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>
 
<div class="page-header">
    <h1>
        Edit administrator
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "administrator/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldFirstname" class="col-sm-2 control-label">Firstname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["firstname", "size" => 30, "class" => "form-control", "id" => "fieldFirstname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSurname" class="col-sm-2 control-label">Surname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["surname", "size" => 30, "class" => "form-control", "id" => "fieldSurname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDob" class="col-sm-2 control-label">Dob</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["dob", "size" => 30, "class" => "form-control", "id" => "fieldDob"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldMobileno" class="col-sm-2 control-label">Mobileno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["mobileno", "size" => 30, "class" => "form-control", "id" => "fieldMobileno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAddressno" class="col-sm-2 control-label">Addressno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["addressno", "type" => "number", "class" => "form-control", "id" => "fieldAddressno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStreetname" class="col-sm-2 control-label">Streetname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["streetname", "size" => 30, "class" => "form-control", "id" => "fieldStreetname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEircode" class="col-sm-2 control-label">Eircode</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["eircode", "size" => 30, "class" => "form-control", "id" => "fieldEircode"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["city", "size" => 30, "class" => "form-control", "id" => "fieldCity"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCounty" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["county", "size" => 30, "class" => "form-control", "id" => "fieldCounty"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDepartment" class="col-sm-2 control-label">Department</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["department", "size" => 30, "class" => "form-control", "id" => "fieldDepartment"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldReportsto" class="col-sm-2 control-label">Reportsto</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["reportsto", "size" => 30, "class" => "form-control", "id" => "fieldReportsto"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldSalary" class="col-sm-2 control-label">Salary</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["salary", "size" => 30, "class" => "form-control", "id" => "fieldSalary"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPpsn" class="col-sm-2 control-label">Ppsn</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["ppsn", "size" => 30, "class" => "form-control", "id" => "fieldPpsn"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStatus" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["status", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldStatus"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRole" class="col-sm-2 control-label">Role</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["role", "size" => 30, "class" => "form-control", "id" => "fieldRole"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldValidationkey" class="col-sm-2 control-label">Validationkey</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["validationkey", "size" => 30, "class" => "form-control", "id" => "fieldValidationkey"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCreatedat" class="col-sm-2 control-label">Createdat</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["createdat", "size" => 30, "class" => "form-control", "id" => "fieldCreatedat"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["password", "size" => 30, "class" => "form-control", "id" => "fieldPassword"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
