<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php
$this->assets->outputCss();
$this->assets->outputJs();
;?>


<div class="page-header" style="margin-top:100px" align="center">
    <h1>
        Admin Dashboard
    </h1>
</div>
<div>
    <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-address-card-o fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Admin Profiles</p>
                            </div>
                        </div>
                    </div>

                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6" align = "left">
                                    <?php echo $this->tag->linkTo("administrator/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                                </div>

                            </div>
                        </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="glyphicon glyphicon-flag fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Edit Activity </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6" align = "left">
                                <?php echo $this->tag->linkTo("activitytype/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-building fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Edit Lodging</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6" align = "left">
                                <?php echo $this->tag->linkTo("lodgingtype/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-car fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Edit Transport</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6" align = "left">
                                <?php echo $this->tag->linkTo("journey/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /.row -->
<br>
    <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-archive fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Edit Standard<br>Package</p>
                            </div>
                        </div>
                    </div>

                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6" align = "left">
                                    <?php echo $this->tag->linkTo("standardpackage/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                                </div>

                            </div>
                        </div>

                </div>
            </div>

            <div class="col-lg-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-envelope fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-text">Manage Email </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6" align = "left">
                                <?php echo $this->tag->linkTo("administrator/display", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="glyphicon glyphicon-th-list  fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">Manage Special Request</p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6" align = "left">
                            <?php echo $this->tag->linkTo("specialrequest/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-mail-reply-all fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">View Newsletter Subscriber </p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6" align = "left">
                            <?php echo $this->tag->linkTo("subscribe/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        </div><!-- /.row -->
    <br>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="glyphicon glyphicon-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">Manage Bookings</p>
                        </div>
                    </div>
                </div>

                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6" align = "left">
                            <?php echo $this->tag->linkTo("custombooking/search", "Select <i class=\"fa fa-arrow-circle-right\"></i>"); ?>
                        </div>

                    </div>
                </div>

            </div>
        </div>
<br>
</div>


<?php echo $this->tag->endForm(); ?>
