<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div style="margin-top:80px;">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["administrator/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["administrator/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Edit Admin</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Firstname</th>
            <th>Surname</th>
            <!--<th>Dob</th>
            <th>Mobileno</th>
            <th>Addressno</th>
            <th>Streetname</th>
            <th>Eircode</th>
            <th>City</th>
            <th>County</th>-->
            <th>Email</th>
            <th>Department</th>
            <!--<th>Reportsto</th>-->
            <!--<th>Salary</th>-->
            <!--<th>Ppsn</th>-->
            <!--<th>Status</th>-->
            <!--<th>Role</th>-->
                <!--<th>Validationkey</th>-->
                <th>Createdat</th>
                <th>Password</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $administrator): ?>
            <tr>
                <td><?php echo $administrator->getId() ?></td>
            <td><?php echo $administrator->getFirstname() ?></td>
            <td><?php echo $administrator->getSurname() ?></td>
            <!--<td><?php /*echo $administrator->getDob() */?></td>
            <td><?php /*echo $administrator->getMobileno() */?></td>
            <td><?php /*echo $administrator->getAddressno() */?></td>
            <td><?php /*echo $administrator->getStreetname() */?></td>
            <td><?php /*echo $administrator->getEircode() */?></td>
            <td><?php /*echo $administrator->getCity() */?></td>
            <td><?php /*echo $administrator->getCounty() */?></td>-->
            <td><?php echo $administrator->getEmail() ?></td>
            <td><?php echo $administrator->getDepartment() ?></td>
            <!--<td><?php /*echo $administrator->getReportsto()*/?></td>-->
           <!-- <td><?php /*echo $administrator->getSalary() */?></td>-->
            <!--<td><?php /*echo $administrator->getPpsn() */?></td>-->
            <!--<td><?php /*echo $administrator->getStatus() */?></td>-->
            <!--<td><?php /*echo $administrator->getRole() */?></td>-->
            <!--<td><?php /*echo $administrator->getValidationkey()*/?></td>-->
            <td><?php echo $administrator->getCreatedat() ?></td>
            <!--<td><?php /*echo $administrator->getPassword() */?></td>-->

                <td><?php echo $this->tag->linkTo(["administrator/edit/" . $administrator->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["administrator/delete/" . $administrator->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("administrator/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("administrator/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("administrator/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("administrator/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
