<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>
<body>

<div class="page-header" style="margin-top:80px;">
    <?php echo $this->getContent(); ?>

    <div class="jumbotron">

        <h2>You are now logged in as administrator</h2>

        <div class="about-btn">
            <button  class="about-view">
                <?php echo $this->tag->linkTo(["administrator/index", "Admin Dashboard"]) ?>
            </button>
        </div>

    </div>
</div>

</body>