<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search groupjourneylog
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["groupjourneylog/new", "Create groupjourneylog"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "groupjourneylog/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldDate" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["date", "type" => "date", "class" => "form-control", "id" => "fieldDate"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldTime" class="col-sm-2 control-label">Time</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["time", "size" => 30, "class" => "form-control", "id" => "fieldTime"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCustomergroupid" class="col-sm-2 control-label">Customergroupid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["customergroupid", "type" => "number", "class" => "form-control", "id" => "fieldCustomergroupid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldJourneyid" class="col-sm-2 control-label">Journeyid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["journeyid", "type" => "number", "class" => "form-control", "id" => "fieldJourneyid"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
