<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search standardpackagelog
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["standardpackagelog/new", "Create standardpackagelog"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "standardpackagelog/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStandardpackagelogid" class="col-sm-2 control-label">Standardpackagelogid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["standardpackagelogid", "type" => "number", "class" => "form-control", "id" => "fieldStandardpackagelogid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldScheduleactivitylogid" class="col-sm-2 control-label">Scheduleactivitylogid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["scheduleactivitylogid", "type" => "number", "class" => "form-control", "id" => "fieldScheduleactivitylogid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["standardpackageid", "type" => "number", "class" => "form-control", "id" => "fieldStandardpackageid"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
