<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Create standardpackagelog
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "standardpackagelog/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldScheduleactivitylogid" class="col-sm-2 control-label">Scheduleactivitylogid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["scheduleactivitylogid", "type" => "number", "class" => "form-control", "id" => "fieldScheduleactivitylogid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStandardpackageid" class="col-sm-2 control-label">Standardpackageid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["standardpackageid", "type" => "number", "class" => "form-control", "id" => "fieldStandardpackageid"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
