<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>
<html>
<h3 style ="margin-top:100px;">Booking details</h3>
<div class="page-header">
<?php foreach ($myBookings as $customjourneypackage): ?>



<table>

	<tr>
		
		<tr><td>Start point: <td> <?php echo $customjourneypackage->getGroupjourneylog()->getJourney()->getStartpoint(); ?></td></tr>
		<tr><td>Destination: <td> <?php echo $customjourneypackage->getGroupjourneylog()->getJourney()->getDestination(); ?></td></tr>
		<tr><td>Date: 		 <td> <?php echo $customjourneypackage->getGroupjourneylog()->getDate(); ?></td></tr>
		<tr><td>Cost:€		 <td> <?php echo $customjourneypackage->getGroupjourneylog()->getJourney()->getCost(); ?></td></tr>

</table>
</html>
<?php endforeach;?>