<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customjourneypackage", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit customjourneypackage
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "customjourneypackage/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldGroupjourneylogid" class="col-sm-2 control-label">Groupjourneylogid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["groupjourneylogid", "type" => "number", "class" => "form-control", "id" => "fieldGroupjourneylogid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUserid" class="col-sm-2 control-label">Userid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["userid", "type" => "number", "class" => "form-control", "id" => "fieldUserid"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
