<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>
<?php
$this->assets->outputCss();
$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["user/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["user/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>EmailAddress</th>
            <th>Role</th>
            <th>Validationkey</th>
            <th>Status</th>
            <th>Createdat</th>
            <th>Updatedat</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $user): ?>
            <tr>
                <td><?php echo $user->getId() ?></td>
            <td><?php echo $user->getUsername() ?></td>
            <td><?php echo $user->getPassword() ?></td>
            <td><?php echo $user->getFirstname() ?></td>
            <td><?php echo $user->getSurname() ?></td>
            <td><?php echo $user->getEmailaddress() ?></td>
            <td><?php echo $user->getRole() ?></td>
            <td><?php echo $user->getValidationkey() ?></td>
            <td><?php echo $user->getStatus() ?></td>
            <td><?php echo $user->getCreatedat() ?></td>
            <td><?php echo $user->getUpdatedat() ?></td>

                <td><?php echo $this->tag->linkTo(["user/edit/" . $user->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["user/delete/" . $user->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("user/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("user/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
