<textarea id ="summernote" name = "message">
  <?php foreach ($page->items as $activityrating): ?>
   <?php echo $activityrating->getrating() . "<br>"?>
  <?php endforeach; ?>
</textarea>
    <script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 1,
        height: 200
      });
    </script>