<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>
<html>
<h3 style ="margin-top:100px;">Booking details</h3>
<div class="page-header">
<?php foreach ($myBookings as $customactivitypackage): ?>



<table>

	<tr>
		<td> <?php echo $customactivitypackage->getScheduledactivity()->getActivitytype()->getProduct(); ?></td></tr>
		</br>
		<tr><td>Cost: €<?php echo $customactivitypackage->getScheduledactivity()->getActivitytype()->getCost(); ?></td></tr>
		<tr><td>Start Date: <?php echo $customactivitypackage->getScheduledactivity()->getStartdate(); ?></td></tr>
		<tr><td>End Date: <?php echo $customactivitypackage->getScheduledactivity()->getEnddate(); ?></td></tr>

</table>
</html>
<?php endforeach;?>