<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["customactivitypackage", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create customactivitypackage
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "customactivitypackage/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldScheduledactivityid" class="col-sm-2 control-label">Scheduledactivityid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["scheduledactivityid", "type" => "number", "class" => "form-control", "id" => "fieldScheduledactivityid"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldUserid" class="col-sm-2 control-label">Userid</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["userid", "type" => "number", "class" => "form-control", "id" => "fieldUserid"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
