<?php
$this->assets->outputCss();
$this->assets->outputJs();
;?>
<!doctype html>

<head>
    <title>Activity Providers</title>
</head>
<style>
    body{
    background-image: url("img/home/ginger1.jpg");
    background-repeat: no-repeat, repeat;
    }
    h2{

        text-shadow: -1px 0 #4682B4, 0 1px #4682B4, 1px 0 #4682B4, 0 -1px #4682B4;

    }
</style>
<body>
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us"> 
								<div class="about-us-txt">
									<h2>
										Activities
									</h2>

									<div class="about-btn">
										<button type ="button"  class="about-view">
                                            <?php echo $this->tag->linkTo("activitytype/displayGrid", "Explore Now"); ?>
										</button>
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
<!--packages start-->

<section id="pack" class="packages">
            <div class="container">
				<div class="gallary-header text-center">

                    <h2>
                    Activity Gallery
                    </h2>

				</div><!--/.gallery-header-->
				<div class="packages-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
									<img src="img/packages/kayaking.jpg" alt="package-place" class="image">
								</div>
								<div class="single-package-item-txt">
									<h3>Kayaking </h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 2 hours
											</span>
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Group/Individual
											</span>
										 </p>
                                        <p>
											<span>
												<i class="fa fa-angle-right"></i> Level : Moderate
											</span>
										 </p>
									</div><!--/.packages-para-->

								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->

						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
								<img src="img/packages/white-water-rafting.jpg" alt="package-place">
								</div>
								<div class="single-package-item-txt">
									<h3>Whitewater rafting</h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 2 days 1 night
											</span>
										<p>
											<i class="fa fa-angle-right"></i> Group
										 </p>
                                        <p>
											<i class="fa fa-angle-right"></i> Level : Extreme
										 </p>
									</div><!--/.packages-para-->

								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
								<img src="img/packages/diving.jpg" alt="package-place">
                                </div>
								<div class="single-package-item-txt">
									<h3>Diving</h3>
									<div class="packages-para">
                                        <p>
											<span>
												<i class="fa fa-angle-right"></i> 4 Hours
											</span>
										</p>
                                        <p>
											<span>
												<i class="fa fa-angle-right"></i> Group
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Hard
											</span>
										</p>
										
									</div><!--/.packages-para-->
								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
								<img src="img/packages/snorkeling.jpg" alt="package-place">
                                </div>
								<div class="single-package-item-txt">
									<h3>Snorkeling </h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 2.5 hours
											</span>
										</p>
                                        <p>
											<span>
												<i class="fa fa-angle-right"></i> Group/Individual
											</span>
										</p>
										<p>
											<i class="fa fa-angle-right"></i> Level : Easy
										 </p>
									</div><!--/.packages-para-->


								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
								<img src="img/packages/jetski.jpg" alt="package-place">

								</div>
								<div class="single-package-item-txt">
									<h3>Jet skiing </h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> 1 Hour
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
										</p>
                                        <p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Easy
											</span>
										</p>

									</div><!--/.packages-para-->


								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->
						
						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<div class="container1">
								<img src="img/packages/paddleboarding.jpg" alt="package-place"><div class="overlay">
								</div>
								<div class="single-package-item-txt">
									<h3>Paddle boarding </h3>
									<div class="packages-para">
										<p>
											<span>
												<i class="fa fa-angle-right"></i> Duration: 1 hr
											</span>
										</p>
										<p>
											<span>
												<i class="fa fa-angle-right"></i>  Group/Individual
											</span>
										</p>	
										<p>
											<span>
												<i class="fa fa-angle-right"></i>  Level : Easy
											</span>
										</p>

									</div><!--/.packages-para-->


								</div><!--/.single-package-item-txt-->
							</div><!--/.single-package-item-->

						</div><!--/.col-->

					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->

		</section><!--/.packages-->
		<!--packages end-->
</body>

		
</body>
</html>
