<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["activityprovider", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Companyname</th>
            <th>Activityname</th>
            <th>Activitytype</th>
            <th>Phoneno</th>
            <th>Addressno</th>
            <th>Streetname</th>
            <th>Postalcode</th>
            <th>City</th>
            <th>County</th>
            <th>Email</th>
            <th>Rating</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $activityprovider): ?>
            <tr>
                <td><?php echo $activityprovider->getId() ?></td>
            <td><?php echo $activityprovider->getCompanyname() ?></td>
            <td><?php echo $activityprovider->getActivityname() ?></td>
            <td><?php echo $activityprovider->getActivitytype() ?></td>
            <td><?php echo $activityprovider->getPhoneno() ?></td>
            <td><?php echo $activityprovider->getAddressno() ?></td>
            <td><?php echo $activityprovider->getStreetname() ?></td>
            <td><?php echo $activityprovider->getPostalcode() ?></td>
            <td><?php echo $activityprovider->getCity() ?></td>
            <td><?php echo $activityprovider->getCounty() ?></td>
            <td><?php echo $activityprovider->getEmail() ?></td>
            <td><?php echo $activityprovider->getRating() ?></td>

                <td><?php echo $this->tag->linkTo(["activityprovider/edit/" . $activityprovider->getId(), "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["activityprovider/delete/" . $activityprovider->getId(), "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("activityprovider/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("activityprovider/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("activityprovider/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("activityprovider/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
