<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php 
	$this->assets->outputCss();
	$this->assets->outputJs();
?>

<div class="page-header" style="margin-top:80px;">
    <h1>
        Create lodgingprovider
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "lodgingprovider/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>
<div class="form-group">
    <label for="fieldLodgingprovidername" class="col-sm-2 control-label">Lodgingprovidername</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["lodgingprovidername", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldLodgingprovidername"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldLodgingtype" class="col-sm-2 control-label">Lodgingtype</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["lodgingtype", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldLodgingtype"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPhoneno" class="col-sm-2 control-label">Phoneno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["phoneno", "size" => 30, "class" => "form-control", "id" => "fieldPhoneno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAddressno" class="col-sm-2 control-label">Addressno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["addressno", "size" => 30, "class" => "form-control", "id" => "fieldAddressno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStreetname" class="col-sm-2 control-label">Streetname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["streetname", "size" => 30, "class" => "form-control", "id" => "fieldStreetname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPostalcode" class="col-sm-2 control-label">Postalcode</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["postalcode", "size" => 30, "class" => "form-control", "id" => "fieldPostalcode"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["city", "size" => 30, "class" => "form-control", "id" => "fieldCity"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCounty" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["county", "size" => 30, "class" => "form-control", "id" => "fieldCounty"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textArea(["email", "cols" => 30, "rows" => 4, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldRating" class="col-sm-2 control-label">Rating</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["rating", "size" => 30, "class" => "form-control", "id" => "fieldRating"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
