<?php
$this->assets->outputCss();
$this->assets->outputJs();
;?>
<!DOCTYPE html>
<html>

<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <title>Unique Occasions</title>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <![endif]-->
</head>
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-content a:hover {background-color: white; }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<header class="top-area">
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="logo-right">
                        <div class="logo">
                            <?php echo $this->tag->linkTo(["index", "UniqueOccasion"]) ?>
                        </div><!-- /.logo-->
                    </ul>
                </div><!-- /.col-->
                <div class="col-sm-10">
                    <div class="main-menu">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button><!-- / button-->
                        </div><!-- /.navbar-header-->
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><?php echo $this->tag->linkTo(["index", "Home"]) ?></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="dropbtn">Customise</a>
                                    <div class="dropdown-content">
                                        <?php echo $this->tag->linkTo(["activityprovider", "Activity "]) ?>
                                        <?php echo $this->tag->linkTo(["lodgingprovider", "Accommodation"]) ?>
                                        <?php echo $this->tag->linkTo(["transportprovider", "Transport"]) ?>
                                    </div>
                                </li>
                                <li><?php echo $this->tag->linkTo(["standardpackage/displayGrid", "standard package"]) ?></li>
                                <li><?php echo $this->tag->linkTo(["specialrequest", "special request"]) ?></li>

                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="dropbtn" ><i class='glyphicon glyphicon-user'></i></a>
                                    <div class="dropdown-content">
                                        <?php echo $this->tag->linkTo(["user/login", "Login"]) ?>
                                        <?php echo $this->tag->linkTo(["user/showprofile", "Edit Profile"]) ?>
                                        <?php echo $this->tag->linkTo(["user/new", "Register"]) ?>
                                        <?php echo $this->tag->linkTo(["payment/new", "€ Pay Now "]) ?>
										<?php echo $this->tag->linkTo(["administrator/login", "Admin"]) ?>
                                    </div>
                                </li>
                                <li><?php echo $this->tag->linkTo("user/logout", "<i class='glyphicon glyphicon-log-out'></i>"); ?></li>
                                <li><?php echo $this->tag->linkTo("customactivitypackage/displayCart", "<i class='glyphicon glyphicon-shopping-cart'></i>"); ?></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.main-menu-->
                </div><!-- /.col-->
            </div><!-- /.row -->
        </div><!-- /.container-->
    </div><!-- /.header-area -->
</header><!-- /.top-area-->
<!-- main-menu End -->



    <div class="container">
        <?php echo $this->getContent(); ?>
    </div>




<footer  class="footer-copyright">
    <div class="container">
        <div class="footer-content">
            <div class="row">

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <div class="footer-logo">
                            <a href="index.html">
                                Unique<span>Occasion</span>
                            </a>
                            <p>
                                best travel agency
                            </p>
                        </div>
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item">
                        <h2>Creator</h2>
                        <div class="single-footer-txt">
                            <p><a href="https://www.linkedin.com/in/nataliajablecka/">Natalia Jablecka</a></p>
                            <p><a href="https://www.linkedin.com/in/noelproudfoot/">Noel Proudfoot</a></p>
                            <p><a href="https://www.linkedin.com/in/loktungthan/">Lok Tung Than</a></p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->

                </div><!--/.col-->

                <div class="col-sm-3">
                    <div class="single-footer-item text-center">
                        <h2 class="text-left">contacts</h2>
                        <div class="single-footer-txt text-left">
                            <p>+353 (01) 1234 6543</p>
                            <p class="foot-email"><a href="#">info@uniqueOccasion.com</a></p>
                            <p>Blanchardstown Rd N, Blanchardstown, Dublin 15</p>
                            <p>Dublin, Ireland</p>
                        </div><!--/.single-footer-txt-->
                    </div><!--/.single-footer-item-->
                </div><!--/.col-->

            </div><!--/.row-->

        </div><!--/.footer-content-->
        <hr>
        <div class="foot-icons">
            <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="https://www.facebook.com/itbdublin" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/TUDublin_BN" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/tudublin/" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>&copy; 2019 <a href="">Unique Occasions</a>. All Right Reserved</p>

        </div><!--/.foot-icons-->
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div><!--/.scroll-Top-->
    </div><!-- /.container-->
</footer><!-- /.footer-copyright-->


</html>

