<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["transportprovider", "Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Edit transportprovider
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "transportprovider/save",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldCompanyname" class="col-sm-2 control-label">Companyname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["companyname", "size" => 30, "class" => "form-control", "id" => "fieldCompanyname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPhoneno" class="col-sm-2 control-label">Phoneno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["phoneno", "size" => 30, "class" => "form-control", "id" => "fieldPhoneno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAddressno" class="col-sm-2 control-label">Addressno</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["addressno", "size" => 30, "class" => "form-control", "id" => "fieldAddressno"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldStreetname" class="col-sm-2 control-label">Streetname</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["streetname", "size" => 30, "class" => "form-control", "id" => "fieldStreetname"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEircode" class="col-sm-2 control-label">Eircode</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["eircode", "size" => 30, "class" => "form-control", "id" => "fieldEircode"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["city", "size" => 30, "class" => "form-control", "id" => "fieldCity"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldCounty" class="col-sm-2 control-label">County</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["county", "size" => 30, "class" => "form-control", "id" => "fieldCounty"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldServices" class="col-sm-2 control-label">Services</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["services", "size" => 30, "class" => "form-control", "id" => "fieldServices"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldVehicletypes" class="col-sm-2 control-label">Vehicletypes</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["vehicletypes", "size" => 30, "class" => "form-control", "id" => "fieldVehicletypes"]) ?>
    </div>
</div>


<?php echo $this->tag->hiddenField("id") ?>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
