<!DOCTYPE html>
<html>

<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-content a:hover {background-color: white; }

    .dropdown:hover .dropdown-content {
        display: block;
	}
	div.page-header {
    position: static;
	margin: 70px 70px 40px 40px;
	}
	
	h2{
		
		text-shadow: -1px 0 #4682B4, 0 1px #4682B4, 1px 0 #4682B4, 0 -1px #4682B4;
		
	}
	body {
  background-color: lightblue;
		 }
	</style>
</style>

<body>



<div class="container">
    <?php echo $this->getContent(); ?>
</div>
</body>
</html>
